.onboarding h1 {
    font-family: var(--font-geist-mono);
}

.onboarding label {
    cursor: pointer;
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}

.onboarding input {
    box-sizing: border-box;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--aura-orange);
    border-radius: 4px;
}

.onboarding button {
   width: 160px;
   background-color: var(--aura-purple);
   color: var(--aura-off-white);
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
}

.onboarding button:hover {
    background-color: var(--resurrect-purple);
}

@media only screen and (min-width: 1000px) {

    main.onboarding > section {
        flex: 1;
    }

    main.onboarding > section:last-child {
        border-left: 3px solid var(--aura-mauve);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .onboarding form {
        display: flex;
        flex-direction:column;
    }

    main.onboarding {
        max-width: 800px;
        margin: 1em auto 0 auto;
        display: flex;
        align-items: stretch;
    }
}